<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
<!-- 		<property name="hibernate.hbm2ddl.auto">create</property> -->
<!-- 		<property name="hibernate.show_sql">true</property> -->
		<mapping class="com.cencosud.mobile.dao.domain.Role"/>
		<mapping class="com.cencosud.mobile.dao.domain.User"/>
		<mapping class="com.cencosud.mobile.dao.domain.FinancialInstitution"/>
		<mapping class="com.cencosud.mobile.dao.domain.Commerce"/>
		<mapping class="com.cencosud.mobile.dao.domain.Agreement"/>
		<mapping class="com.cencosud.mobile.dao.domain.UrlCallback"/>
		<mapping class="com.cencosud.mobile.dao.domain.EconomicActivity"/>
		<mapping class="com.cencosud.mobile.dao.domain.QuestionAnswer"/>
		<mapping class="com.cencosud.mobile.dao.domain.Question"/>
		<mapping class="com.cencosud.mobile.dao.domain.TimeLimit"/>
		<mapping class="com.cencosud.mobile.dao.domain.Channel"/>
		
		
		<mapping class="com.cencosud.mobile.dao.domain.TipoOrden"/>
		<mapping class="com.cencosud.mobile.dao.domain.TipoVenta"/>
		<mapping class="com.cencosud.mobile.dao.domain.ClienteRetira"/>
		<mapping class="com.cencosud.mobile.dao.domain.DescripcionEmpresa"/>
		<mapping class="com.cencosud.mobile.dao.domain.TipoGuia"/>
		<mapping class="com.cencosud.mobile.dao.domain.Horario"/>
		<mapping class="com.cencosud.mobile.dao.domain.VentaEmpresa"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoCumple"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoCumpleResumen"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoCumplimiento"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoResponsable"/>

		<mapping class="com.cencosud.mobile.dao.domain.TipoEstadoOrdenCompraStock"/>
		<mapping class="com.cencosud.mobile.dao.domain.TipoEstadoVentaEnVerde"/>
		<mapping class="com.cencosud.mobile.dao.domain.HorarioActualizacionStock"/>
		<mapping class="com.cencosud.mobile.dao.domain.HorarioVentaEnVerdeActualizacion"/>
		<mapping class="com.cencosud.mobile.dao.domain.SystemLog"/>
		
		<mapping class="com.cencosud.mobile.dao.domain.CumplimientoEstaticoWs"/>
		
		
		<mapping class="com.cencosud.mobile.dao.domain.Pauta"/>
		<mapping class="com.cencosud.mobile.dao.domain.Prioridad"/>
		<mapping class="com.cencosud.mobile.dao.domain.Reportado"/>
		<mapping class="com.cencosud.mobile.dao.domain.Area"/>
		<mapping class="com.cencosud.mobile.dao.domain.Tienda"/>
		<mapping class="com.cencosud.mobile.dao.domain.Flag"/>
		<mapping class="com.cencosud.mobile.dao.domain.Padrino"/>
		<mapping class="com.cencosud.mobile.dao.domain.Gerente"/>
		<mapping class="com.cencosud.mobile.dao.domain.Contratante"/>
		<mapping class="com.cencosud.mobile.dao.domain.Soporte"/>
		
		<mapping class="com.cencosud.mobile.dao.domain.CuadraturaOrdenCompraVentaComp"/>
		
		<mapping class="com.cencosud.mobile.dao.domain.EcommerceSoporteVenta"/>
		<mapping class="com.cencosud.mobile.dao.domain.Estado"/>
		
		<mapping class="com.cencosud.mobile.dao.domain.CumplimientokpiWeb"/>
		<mapping class="com.cencosud.mobile.dao.domain.CuadraturaVentaVerde"/>
		<mapping class="com.cencosud.mobile.dao.domain.Cumplimiento"/>
		<mapping class="com.cencosud.mobile.dao.domain.HorarioTrazabilidadActualizacion"/>
		<mapping class="com.cencosud.mobile.dao.domain.CuadraturaVtavPd"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoOd"/>
		<mapping class="com.cencosud.mobile.dao.domain.SkuServicioWs"/>
		<mapping class="com.cencosud.mobile.dao.domain.OrdeneStockPendiente"/>
		<mapping class="com.cencosud.mobile.dao.domain.EstadoOrdenStock"/>
		<mapping class="com.cencosud.mobile.dao.domain.CuadraturaCtl"/>
		
		
	
	</session-factory>
</hibernate-configuration>